{% extends "layout.html.jinja2" %}
{% block title %}Create{% endblock %}
{% block content %}
<div class="row">
  <div class="col l9">
    <h1>Create</h1>
    <p class="flow-text">Start creating your own DeviantArt comic reader!</p>
  </div>
  <div class="col s12 m12 l12">
    <div class="card-panel teal">
      <nav>
        <div class="nav-wrapper z-depth-2">
          <form action="/" method="GET">
            <div class="input-field">
              <input id="search-deviantart" type="search" class="search" name="url" placeholder="http://www.deviantart.com/" autocomplete="off">
              <label for="search-deviantart"><i class="mdi mdi-deviantart"></i></label>
            </div>
          </form>
        </div>
      </nav>
      <br>
      <hr>
<div class="row" id="sortable">
  {% for x in range(1, 20) %}
<div class="col s12 m6 l2 ui-state-default">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <div class="deviant-preview">
            <img src="http://orig11.deviantart.net/f43c/f/2013/349/c/c/es__seeds_of_darkness_000___prologue_by_estories-d6s9mp5.png">
          </div>
        </div>
        <div class="card-content">
          <span class="card-title-small truncate"><a href="#" title="I am hovering over the text">{{ x }}</a></span>
          <p>By <a href="#">EndenDragon</a></p>
        </div>
      </div>
</div>
{% endfor %}
</div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="/static/vendor/js/jquery.ui.touch-punch.min.js"></script>
<script>
$( function() {
  $( "#sortable" ).sortable();
  $( "#sortable" ).disableSelection();
} );
</script>
{% endblock %}
